# Source this file for development environment variables.
# Appropriate values will be set in production by heroku config

# It's something of a convention to use FLASK_ENV (or sometimes ENV) for this.
# Unfortunately, this is not as universal as the conventions, in other stacks,
# of using NODE_ENV, RAILS_ENV, etc; nor is the *value* that communicates
# that it's a production environment well-standardized. Nonetheless, I recommend
# using FLASK_ENV here to be more idiomatic, and more obvious in intent to devs
# familiar with other stacks.
export FLASK_ENV=development
export DATABASE_URL=postgresql://user:password@localhost:5432/db
export FLASK_APP=__init__

export MQTT_URL='mqtt://...'
export TWILIO_ACCOUNT_SID='...'
export TWILIO_AUTH_TOKEN='...'
export TWILIO_PHONE_NUMBER='+1...'
