[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[dev-packages]



[packages]

gunicorn = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
"psycopg2" = "*"
flask-migrate = "*"
twilio = "*"
